<?xml version="1.0" encoding="utf-8"?>

<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <uses-feature android:name="android.hardware.camera" />
    
    <application
        android:name=".activities.FirebasePersistent"
        android:allowBackup="true" 
        android:icon="@mipmap/ic_launcher" 
        android:roundIcon="@mipmap/ic_launcher" 
        android:label="@string/app_name" 
        android:supportsRtl="true" 
        android:theme="@style/lazypanda"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true" >
        <activity 
            android:name="MainActivity" 
            android:exported="true"/>
        <activity
            android:name=".activities.ChatActivity"
            android:exported="true"
            android:configChanges="density|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Dark.NoActionBar" />
        <activity
            android:name=".activities.EmailVerificationActivity"
            android:exported="true"
            android:configChanges="density|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="standard" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true"
            android:configChanges="density|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="standard" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true"
            android:configChanges="density|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:configChanges="density|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="standard" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="true"
            android:configChanges="density|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".notifications.FirebaseServices"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name=".notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".notifications.ReplyReceiver"
            android:enabled="true"
            android:exported="true">
            <!-- Intent filters specify which intents the receiver should respond to -->
            <intent-filter>
                <!-- Example: respond to the BOOT_COMPLETED event -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- Add more actions as needed -->
            </intent-filter>
        </receiver>
    </application>
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
</manifest>